<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TellerAssistant2012.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TellerAssistant2012.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
    <add name="TellerAssistant2012.My.MySettings.TellersAssistant2008ConnectionString1"
      connectionString="Data Source=GRNSDNOFFICE-PC\SQLEXPRESS;Initial Catalog=TellersAssistant2008;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
    <TellerAssistant2012.My.MySettings>
      <setting name="ImageTransferMethod" serializeAs="String">
        <value>ctRS232</value>
      </setting>
      <setting name="ImageTransferDelayRS232" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ImageTransferDelayFTP" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ManualCheckName" serializeAs="String">
        <value>ManualCheck200dpi.tif</value>
      </setting>
      <setting name="DefaultImageFolder" serializeAs="String">
        <value>CheckImages</value>
      </setting>
      <setting name="PortSettingPortName" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="PortSettingBaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="PortSettingParity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="PortSettingDataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="PortSettingStopBits" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ScannerIP" serializeAs="String">
        <value>192.168.2.104</value>
      </setting>
      <setting name="InitializeScannerSettingsAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogScannerCmds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoggingTurnedOn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MySettingsFilename" serializeAs="String">
        <value>MyTellerAssistant.xml</value>
      </setting>
    </TellerAssistant2012.My.MySettings>
  </userSettings>
  <applicationSettings>
    <TellerAssistant2012.My.MySettings>
      <setting name="SecurityConnectionStr" serializeAs="String">
        <value>Data Source=GRNSDNOFFICE-PC\SQLEXPRESS;Initial Catalog=RetrieveSecurity;Integrated Security=True</value>
      </setting>
      <setting name="TellersAssistant2008ConnectionString" serializeAs="String">
        <value>Data Source=GRNSDNOFFICE-PC\SQLEXPRESS;Initial Catalog=TellersAssistant2008;Integrated Security=True</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=GRNSDNOFFICE-PC\SQLEXPRESS;Initial Catalog=TellersAssistant2008;Integrated Security=True</value>
      </setting>
    </TellerAssistant2012.My.MySettings>
  </applicationSettings>
</configuration>
